.header {
  background-color: #003366;
  color: floralwhite;
  text-align: center;
  padding: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    font-size: 14px;
    padding: 5px;
  }
}
