/* Default: Hidden Sidepanel for Mobile View */
.navPane {
  position: fixed;
  top: 0;
  left: -100%; /* Hide off-screen by default */
  height: 100vh; /* Full viewport height */
  width: 70%; /* Adjustable for mobile */
  background: linear-gradient(180deg, #003366, #003366);
  transition: left 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 999; /* Ensure it's above other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navPane h3 {
  color: #ffff;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 60px;
}
/* Show Sidepanel */
.navPane.show {
  left: 0; /* Slide into view */
}

/* Sidepanel Content */
.navPane ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.navPane li {
  margin-bottom: 15px;
}

.navPane button {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  color: #003366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.navPane button:hover {
  background-color: #003366;
  color: #ffffff;
}

/* Toggle Button for Mobile */
.toggleButton {
  position: relative;
  top: 15px;
  left: 15px;
  background-color: #003366;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  font-size: 1.2rem;
  align-content: right;
}

/* Active Button Styling */
.activeButton {
  background-color: #ffffff;
  color: #003366;
  font-weight: bold;
  border-radius: 5px;
}

/* Tablet Screens (min-width: 600px) */
@media (min-width: 600px) {
  .toggleButton {
    display: none; /* Hide toggle button */
  }

  .navPane {
    width: 250px; /* Fixed width for larger screens */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0;
  }
}

/* Desktop Screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .navPane {
    left: 0; /* Always visible */
    width: 250px;
    height: 100vh;
    transition: none; /* No animation for desktops */
     box-shadow: none; /*No shadow for static sidebar */
  }
  .navPane h3 {
    color: #ffff;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 60px;
  }
}
